.side
  .side_list
    = link_to "#", class: 'icon_deco' do
      = icon('fas', 'user', class: 'side_list_icon')
    = link_to "#", class: 'icon_deco' do
      = icon('fas', 'comment-dots', class: 'side_list_icon')
    = link_to "#", class: 'icon_deco' do
      = icon('fas', 'user-plus', class: 'side_list_icon')
    = link_to "#", class: 'icon_deco' do
      = icon('fas', 'search', class: 'side_list_icon')