.side
  .side_bar
    = link_to "#", class: 'icon_deco' do
      = icon('fas', 'user', class: 'side_bar_icon')
    = link_to "#", class: 'icon_deco' do
      = icon('fas', 'comment-dots', class: 'side_bar_icon')
    = link_to "#", class: 'icon_deco' do
      = icon('fas', 'user-plus', class: 'side_bar_icon')
    = link_to "#", class: 'icon_deco' do
      = icon('fas', 'search', class: 'side_bar_icon')