.side_list
  .side_list_header
    .side_list_search
      = icon('fas', 'search', class: 'side_list_search_icon')
      %input{class: "side_list_search_form", placeholder: "検索"}
  .side_list_bar
    = render "message_form_list"
    = render "message_form_list"
    = render "message_form_list"
    = render "message_form_list"
    